* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}


/*  Utilities  */

.flex{
    display: flex;
}

.border{
    border: 2px dashed black;
}

.white-text{
    color: white;
}

.gray-text{
    color:rgb(31, 31, 31)
}

.white-border{
    border: 2px dashed white;
}

.navbar-bg{
    background-color: gold;
}

.white-bg{
    background-color: white;
}

.gray-bg{
    background-color: rgb(31, 31, 31);

}

.container-properties{
    justify-content: center;
    align-items: center;
}

.rounded-corner{
    border-radius: 100px;
}

.title{
    font-size: 3.7rem;
}

.paragraph{
    font-size: 1.6rem;
    padding-top: 15px;
}

.center{
    text-align: center;
}



/*  Header  */

header{
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
    background-image: url(/img/jumbo.png);
    background-position: 70%;
    background-size: cover;
}

.navbar{
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    padding: 1%;
    height: 200px;
    width: 100%;}
.logo{
    width: 15%;
    height: 40px;
}
.links{
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 40px;
}
.login{
    width: 15%;
    height: 40px;
    justify-content: flex-end;
}

.login-button{
    border: 0ch;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;    
}

.button{
    border: 0ch;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    height: min-content;
    font-size: larger;
}






/*   Primo contenitore  */



.card1{
    align-self: baseline;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    min-height: 300px;
}




/*   Secondo contenitore  */


.content2{
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 1000px;
    width: 100%;
}
.card2{
    align-self: flex-start;
    width: 40%;
    min-height: 800px;
}
.card3{
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    min-height: 600px;
}


/*   Terzo contenitore  */


.content3{
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 194, 194);
    min-height: 1000px;
    width: 100%;
}
.card4{
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    min-height: 600px;
}
.card5{
    align-self: flex-start;
    align-items: center;
    width: 40%;
    min-height: 800px;
}


/*   Quarto contenitore  */


.content4{
    background-color: white;
    min-height: 1000px;
    width: 100%;
}
.card6{
    width: 50%;
    min-height: 800px;
    background-color: rgb(18, 112, 227);
}
.card7{
    width: 30%;
    min-height: 800px;
    background-color: rgb(245, 195, 245);
}


/*   Quinto contenitore  */


.content5{
    background-color: gray;
    min-height: 1400px;
    width: 100%;
}
.greencard{
    width: 80%;
    min-height: 1200px;
    background-color: green;
}


/*   Footer  */


.footer-links{
    background-color: rgb(31, 31, 31);
    min-height: 800px;
    width: 100%;
}
.pink-column{
    width: 20%;
    min-height: 750px;
    background-color: rgb(255, 142, 142);
}
.column{
    width: 15%;
    min-height: 750px;
    background-color: rgb(22, 184, 162);
}


/*   Copyright */


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    min-height: 150px;
    border-top: 1px solid white;
    width: 100%;

}


.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 100px;
    background-color: rgb(138, 255, 251);
}
.footer-logo{
    width: 7%;
    min-height: 40px;
    background-color: rgb(255, 171, 212);
}
.footer-button{
    width: 7%;
    min-height: 40px;
    background-color: rgb(255, 171, 212);
}