* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}


/*  Utilities  */

.flex{
    display: flex;
}

.border{
    border: 2px dashed black;
}

.white-text{
    color: white;
}

.gray-text{
    color:rgb(31, 31, 31)
}

.violet-text{
    color:rgb(87, 9, 255)
}

.white-border{
    border: 2px dashed white;
}

.navbar-bg{
    background-color: gold;
}

.white-bg{
    background-color: white;
}

.gray-bg{
    background-color: rgb(31, 31, 31);

}

.violet-bg{
    background-color: rgb(190, 180, 255);
}

.container-properties{
    justify-content: center;
    align-items: center;
}

.rounded-corner{
    border-radius: 100px;
}

.title{
    font-size: 3.7rem;
}

.paragraph{
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 15px;
}

.center{
    text-align: center;
}

.direction-column{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

.padding{
    padding: 10px;
}


/*  Header  */

header{
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
    background-image: url(/img/jumbo.png);
    background-position: 70%;
    background-size: cover;
}

.navbar{
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    padding: 1%;
    height: 200px;
    width: 100%;}
.logo{
    width: 15%;
    height: 40px;
}
.links{
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 40px;
}
.login{
    width: 15%;
    height: 40px;
    justify-content: flex-end;
}

.login-button{
    border: 0ch;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;    
}

.button{
    border: 0ch;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    height: min-content;
    font-size: larger;
}






/*   Primo contenitore  */



.card1{
    align-self: baseline;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    min-height: 300px;
}




/*   Secondo contenitore  */


.content2{
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 1000px;
    width: 100%;
}
.card2{
    align-self: flex-start;
    width: 40%;
    min-height: 800px;
}
.card3{
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    min-height: 600px;
}


/*   Terzo contenitore  */


.content3{
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
    min-height: 1000px;
    width: 100%;
}
.card4{
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    min-height: 600px;
}
.card5{
    align-self: flex-start;
    align-items: center;
    width: 40%;
    min-height: 800px;
}


/*   Quarto contenitore  */


.content4{
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 1000px;
    width: 100%;
}
.card6{
    align-self: flex-start;
    align-items: center;
    width: 50%;
    min-height: 800px;
}
.card7{
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    min-height: 600px;
}


/*   Quinto contenitore  */


.content5{
    background-image: url(/img/stars.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position:  50%  83%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(228, 228, 228);
    min-height: 1500px;
    width: 100%;
}

.tecnologia{
    padding-top: 200px;
    text-align: center;

}

.video-audio{
    width: 70%;
    text-align: center;
}


.greencard{
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 1200px;
}

.big-svg{
    width: 100%;
    height: max-content;
}

.pronto-avventura{
    margin-top: 200px;
    font-size: 2.1rem;
}
.last-button{
    margin: 50px;
    margin-bottom: 200px;
}


/*   Footer  */


.footer-links{
    padding: 100px;
    align-items: flex-start;
    background-color: rgb(31, 31, 31);
    min-height: 500px;
    width: 100%;
}
.pink-column{
    width: 20%;
    min-height: 300px;
}
.column{
    width: 15%;
    min-height: 300px;

}

.italy-flag{
    max-width: 7%;
}

.il-tuo-posto{
    font-size: 2rem;
    margin-bottom: 50px;
}

/*   Copyright */


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    min-height: 150px;
    border-top: 1px solid rgb(107, 10, 198);
    width: 100%;

}


.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 100px;
    background-color: rgb(138255, 251);
}

.footer-logo{
    width: 7%;
    min-height: 40px;
}
.footer-button{
    width: 7%;
    min-height: 40px;

}